@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gradient-to-r from-green-900 via-green-700 to-green-600 text-gray-800 font-sans animate-gradient;
}

@layer utilities {
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    animation: gradient-animation 20s ease infinite;
    background-size: 200% 200%;
  }
}

